@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.logo {
  height: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 10pt;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
  color: #000;
}

header {
  background-color: #fb5454;
  color: #fff;
  padding: 10px;
  overflow: auto;
}

h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #000;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff; /* Preto */
  color: #000; /* Branco */
}

h1, h2, h3, h4, h5, h6 {
  padding: 10px;
  color: #fb5454; /* Vermelho */
}
p{
  padding: 10px;
}
.img{
  width: 100%;
}

li {
  background-color: #fb5454; /* Fundo vermelho */
  color: #fff; /* Letra branca */
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10pt;
}

li h1 {
  color: #fff; /*título branco */
  padding: 0;
}

li a {
  color: #000; /* texto  preto */
  text-decoration: none;
  font-weight: bolder;
  font-size: 2vh;
}

ul {
  list-style-type: none;
  padding: 10px;
}

#nomes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

ol{
  display: inline-block;
}

.card{
  width: 70vw;
}

@media (min-width:851px){
.langs{
  width: 50%;
}
.langs2{
  width: 50%;
}
.langst{
  display: flex;
  flex-direction: row;
}
}

@media (max-width:850px){
  .langs2{
    visibility: hidden;
    height: 0;
  }
  }

  .imgextlogo{
    background-color: #fff;
    border-radius: 10pt;
  }

  .none{
    text-decoration: none;
  }

  .nomes:hover{
    text-decoration: none;
    color: #fff;
    background-color: #000;
  }